* @param {{=<% %>=}}{<%#isDateTime%>Date<%/isDateTime%><%^isDateTime%><%#isDate%>Date<%/isDate%><%^isDate%><%dataType%><%/isDate%><%/isDateTime%>}<%={{ }}=%> {{^required}}[{{/required}}{{{paramName}}}{{^required}}]{{/required}} - {{{description}}}