{
  "compilerOptions": {
    "declaration": true,
    "target": "{{#supportsES6}}es6{{/supportsES6}}{{^supportsES6}}es5{{/supportsES6}}",
    "module": "commonjs",
    "noImplicitAny": true,
    "outDir": "../dist",
    "strict": true,
    "strictPropertyInitialization": false,
    "noEmitOnError": true,
    "composite": true,
    "incremental": true,
    "tsBuildInfoFile": "./tsconfig.tsbuildinfo",
    "rootDir": "."{{^supportsES6}},{{/supportsES6}}
    {{^supportsES6}}
    "lib": [
      "es6",
      "dom"
    ]
    {{/supportsES6}}
  },
  "include": ["./**/*.ts"]
}
